In [11]:
import pandas as pd
import numpy as np
from numpy import nan as Nan

In [6]:
terror1 = pd.read_csv("./input/editted_input.csv")

In [9]:
terror1

     Year  Month  num attacks  Killed sum  Wounded sum  casualities sum
0    1970      1           39         3.0          4.0              7.0
1    1970      2           55        56.0         24.0             79.0
2    1970      3           69         7.0         21.0             28.0
3    1970      4           79        40.0         17.0             56.0
4    1970      5           72         6.0         44.0             50.0
5    1970      6           61        20.0         44.0             54.0
6    1970      7           69         7.0          4.0             11.0
7    1970      8           42        12.0         15.0             25.0
8    1970      9           42         9.0          5.0             12.0
9    1970     10           55         3.0          6.0              9.0
10   1970     11           41         6.0          3.0              7.0
11   1970     12           26         2.0          5.0              6.0
12   1971      1           44         6.0          3.0              8.0
13   1971      2           43        11.0          0.0              1.0
14   1971      3           50         2.0         10.0             10.0
15   1971      4           57        16.0          5.0             21.0
16   1971      5           56         7.0          9.0             13.0
17   1971      6           24         1.0          0.0              1.0
18   1971      7           24         3.0          0.0              1.0
19   1971      8           47        14.0          3.0              6.0
20   1971      9           37        21.0         21.0             25.0
21   1971     10           26        16.0          0.0              0.0
22   1971     11           39        45.0         27.0             29.0
23   1971     12           23        31.0          4.0              4.0
24   1972      1           37        41.0         16.0             47.0
25   1972      2           29        40.0         38.0             53.0
26   1972      3           39        34.0        188.0            196.0
27   1972      4           22        14.0          8.0             10.0
28   1972      5           74        69.0        131.0            167.0
29   1972      6           34       112.0          0.0             82.0
..    ...    ...          ...         ...          ...              ...
522  2014      7         1731      4547.0       3565.0           6802.0
523  2014      8         1353      4058.0       3084.0           5057.0
524  2014      9         1283      3193.0       3372.0           5399.0
525  2014     10         1323      3255.0       3395.0           5710.0
526  2014     11         1226      2996.0       3510.0           5636.0
527  2014     12         1145      3701.0       2664.0           4794.0
528  2015      1         1531      3470.0       3466.0           5788.0
529  2015      2         1291      2713.0       3519.0           5484.0
530  2015      3         1176      2923.0       3350.0           5304.0
531  2015      4         1218      3705.0       3168.0           5682.0
532  2015      5         1311      3545.0       3484.0           5902.0
533  2015      6         1163      3866.0       4257.0           7220.0
534  2015      7         1258      3994.0       4699.0           7818.0
535  2015      8         1283      3283.0       3927.0           6177.0
536  2015      9         1099      3275.0       4226.0           6784.0
537  2015     10         1268      2992.0       3290.0           5957.0
538  2015     11         1166      2327.0       3503.0           5361.0
539  2015     12         1088      2371.0       3071.0           4930.0
540  2016      1         1156      2868.0       3140.0           5366.0
541  2016      2         1147      3147.0       3147.0           5536.0
542  2016      3         1141      2526.0       4858.0           7145.0
543  2016      4         1112      3006.0       3226.0           5803.0
544  2016      5         1343      3152.0       3563.0           6093.0
545  2016      6         1149      3335.0       3775.0           6473.0
546  2016      7         1105      2924.0       3843.0           6593.0
547  2016      8         1151      2673.0       3292.0           5364.0
548  2016      9         1039      2321.0       2611.0           4595.0
549  2016     10         1132      3652.0       3174.0           6537.0
550  2016     11         1098      2419.0       2956.0           5104.0
551  2016     12          915      2653.0       2266.0           4278.0

[552 rows x 6 columns]

In [15]:
s2 = pd.DataFrame(np.array([[1993, i, Nan,Nan, Nan, Nan] for i in range(1, 13)]))

In [22]:
s2.columns = terror1.columns
s2["Year"] = s2["Year"].astype(int)
s2["Month"] = s2["Month"].astype(int)

In [25]:
terror2 = pd.concat([terror1[:276], s2, terror1[276:]]).reset_index().drop(["index"], axis=1)

In [26]:
terror2[270:290]

     Year  Month  num attacks  Killed sum  Wounded sum  casualities sum
270  1992      7        389.0       634.0        648.0           1281.0
271  1992      8        390.0       757.0       1018.0           1774.0
272  1992      9        457.0       802.0        407.0           1206.0
273  1992     10        507.0      1037.0        711.0           1747.0
274  1992     11        532.0       570.0       1520.0           2086.0
275  1992     12        450.0       797.0        750.0           1545.0
276  1993      1          NaN         NaN          NaN              NaN
277  1993      2          NaN         NaN          NaN              NaN
278  1993      3          NaN         NaN          NaN              NaN
279  1993      4          NaN         NaN          NaN              NaN
280  1993      5          NaN         NaN          NaN              NaN
281  1993      6          NaN         NaN          NaN              NaN
282  1993      7          NaN         NaN          NaN              NaN
283  1993      8          NaN         NaN          NaN              NaN
284  1993      9          NaN         NaN          NaN              NaN
285  1993     10          NaN         NaN          NaN              NaN
286  1993     11          NaN         NaN          NaN              NaN
287  1993     12          NaN         NaN          NaN              NaN
288  1994      1        329.0       558.0        492.0            975.0
289  1994      2        318.0       444.0        587.0            997.0